packages:
  yum:
    htop: []
groups:
  admin: {}
  gid: "45"
users:
  vikram:
    groups:
    - admin
    uid: "50"
    homeDir: "/home/vikram"
container_commands:
  01-create-file:
    command: "echo 'File created by ebextensions ' > /home/ec2-user/node-01.txt"
    leader_only: true
  02-create-file:
    command: "echo 'File created by ebextensions ' > /home/ec2-user/node-02.txt"
